 body{
        margin: 0;
        padding: 0;
      }
      .grid-container {
        display: grid;
        grid-template-columns: 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1%;

        grid-template-rows: 50px 70px 100px 120px 100px 150px 60px 100px 100px 100px 100px  60px 100px  ;
        background-color: #F5F5F5;
      }
     

      .grid-container > div {
        
        ;border-width: 2px
      }


      .item0 {
        grid-column: 1 / 1001;
        grid-row: 1/14;
        margin: 0;

      }

      .item1 {

        grid-column: 33 / 70;
        grid-row: 9;
        font-size: 40px;
        margin: 0;

      }

      .item2 {
        grid-column: 20 / 80;
        grid-row: 10; 
        font-size: 20px;
        margin: 0;
        text-align: justify;
      }



      .item4 {

        grid-column: 32 / 90;
        grid-row: 2;
        font-size: 30px;
        margin: 0;
      }

      .item5 {

        grid-column:37 / 90;
        grid-row: 3;
        font-size: 30px;
        margin:0;
      }


      .item9_1 {
        grid-column: 4 /24;
        grid-row:5/8;
        background: red;
      }
      
      .item9_2 {
        grid-column: 28 /48;
        grid-row:5/8;
        background: red;
      }

      .item9_3 {
        grid-column: 52 / 72;
        grid-row:5/8;
        background: red;
      }
      

      .item9_4 {
        grid-column: 76 /96;
        grid-row:5/8;
        background: red;
      }


      
      
      .item10_1 {
        grid-column: 4 /18;
        grid-row:6/8;
        background: white;
        margin-top: 130px; 
        padding-left: 40px;
      }
      

      .item10_2 {
        grid-column: 28 /42;
        grid-row:6/8;
        background: white;
        margin-top: 130px; 
        padding-left: 40px;
      }

      .item10_3 {
        grid-column: 52 / 66;
        grid-row:6/8;
        background: white;
        margin-top: 130px; 
        padding-left: 40px;
      }
      

      .item10_4 {
        grid-column: 76 /90;
        grid-row:6/8;
        background: white;
        margin-top: 130px; 
        padding-left: 40px;
      }

      .item11 {
        grid-column: 45 /55;
        grid-row:12;
        background: white;
      }

      .item12 {
        grid-column: 10 /80;
        grid-row:8;
    
      }

      .item13 {
        grid-column: 5 /97;
        grid-row:2/4;
        background-color: white
    
      }