 body{
        margin: 0;
        padding: 0;
      }
      .grid-container {
        display: grid;
        grid-template-columns: 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1%;

        grid-template-rows:  100px 200px 100px 100px 100px 100px 100px 100px  100px ;
        background-color: #F5F5F5;
      }
     

      .grid-container > div {
        
        ;border-width: 2px
      }


  .item1_1 {

        grid-column: 1 / 25;
        grid-row: 1;
        padding-left: 10px;
        padding-top: 5px;
        background: black;
        
      }
      .item1_2 {

        grid-column: 25 / 75;
        grid-row: 1;
        background: black;
        padding-top: 15px;
        

         
      }
      .item1_3 {

        grid-column: 75 / 85;
        grid-row: 1;
        background: black;
        padding-top: 15px;
        
      }
      .item1_4 {

        grid-column: 85 /span 100;
        grid-row: 1;
        background: black;
        padding-top: 15px;         
      }



      .item2{

        grid-column: 2/100;
        grid-row: 2/20;
       
      }
       

      

      
      



























      
      .item92 {

        grid-column: 1/101;
        grid-row: 11;
        background-color: #EBF6F9; 
        
      }



      .rec{
        top:0;
        left:0;
        padding:10px ;
        box-sizing: border-box;

      }

      .rec .logo{color: red ;
          padding:0;
          height:80px;
          float:left;
          font-size: 24px;
          font-weight: bold;
          text-transform: uppercase;
          color: black;


          }

      .recul{list-style: none;
          float: left;
          margin: 0;
          padding: 0;
          display: flex;}
      .recullia{line-height: 80px;
            color: white;
            padding: 12px 30px;
            text-decoration: none;
            font-size: 15px;
            font-weight:bold;}
      .recullia:hover {background-color: orange;
                border-radius:6px;}

      .recullia.active{background:#e2462f;
                color:#fff;
                border-radius: 6px;}

      

      .recsign_in{background:white;
        font-weight: bold;
            color:black;
            border-radius: 6px;
            }

      .rectranslate{background:#5866EB;
            color:red;
            border-radius: 6px;

            }


      .dropbtna {}

      .dropdowna {position: relative;
             display: inline-block;}

      .dropdowna-contenta {display: none;
                position: absolute;
                background-color: black;
                min-width: 160px;
                z-index: 1;border-radius: 5px}


      .dropdowna-contenta a {color: white;
                  padding:0px;
                  text-decoration: none;
                  display: block;
                  text-align: center}

      .dropdowna-contenta a:hover {background-color: orange;}

      .dropdowna:hover .dropdowna-contenta {display: block;}

      .dropdowna:hover .dropbtna {background-color: #3e8e41;}



      footer.footer{
          height:100%;
          position:relative;}

      footer.footer .container{
          display:grid;
          grid-template-columns:repeat(5,1fr);
          hr style:width:50%;text-align:left;margin-left:0;
          color:white;}

      hr {width:80%;
              text-align:left;
              margin-left:0;} 
           
        ./* Style all font awesome icons */
      .fa {padding: 20px;
          font-size: 30px;
          width: 50px;
          text-align: center;
          text-decoration: none;}

        /* Add a hover effect if you want */
      .fa:hover {opacity: 0.7;}

        /* Set a specific color for each brand */

        /* Facebook */
      .fa-facebook {color: white;}

        /* Twitter */
      .fa-twitter {color: white;}

      fa-instagram {color: white;}


      .Customer_reg{float:left;}

      .Customer_reg_left{width:45%;}
      .Customer_reg_center{width:45%;}
      .Customer_reg_right{width:10%;}
      _____________________________________________
body
{
  font-family:Arial,Helvetica,sans-serif;
  font-size:17px;
  padding:8px;
}

h2
{
  text-align:center;
}


.row20{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin:0-10px;
}

.col-252{
  -ms-flex:25%;
  flex:25%;
}


.col-502{
  -ms-flex:50%;
  flex:50%;
}

.col-752{
  -ms-flex:75%;
  flex:75%;
}

.col-252,.col-502,.col-752{
  padding:0 16px;
}

.container22{
  background-color:#cfcccc85;
  padding:3px 18px 13px 18px;
  border:1px solid lightgrey;
  border-radius:3px;
}

input[type=text]{
  width:100%;
  margin-bottom:20px;
  padding:12px;
  border:1px solid #ccc;
  border-radius:3px;
}

label{
  margin-bottom:10px;
  display:block;
}

.icon-container22{
  margin-bottom:20px;
  padding:7px 0;
  font-size:24px;
}

.btn22{
  background-color:#4CAF50;
  color:white;
  padding:12px;
  border:none;
  width:100%;
  border-radius:3px;
  cursor:pointer;
  font-size:17px;
}

.btn22:hover{
  background-color:#4CAF50;
}



span.price{
  float:right;
  color:grey;
}
 @media(max-width;800px){
   .row22{
     flex-direction:column-reverse;
     
   }
   .col-252{
     margin-bottom:20px;
   }
 }
